# Dependency directories
node_modules/
/.pnp/
/.pnp.js

# Production build
dist/

# Misc
.DS_Store
 
# Playwright test artifacts
playwright-report/
test-results/

# Next.js build directory
.next/

# Log files
*.log
err.log
build_*.log
build_log.txt